.about-us
{
    padding-top: 100px;
    margin-left: 420px;
    margin-right: 420px;
    font-family: Montserrat;
    text-align: center;
}

.about-title
{
    padding-bottom: 50px;
    font-size: 48px;
    color: #000F5F;
}

.about-content-1, .about-content-2
{
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
}

.about-name
{
    font-weight: 600;
}



@media screen and (max-width: 1100px)
{
    .about-us{
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media screen and (max-width: 620px)
{
    .about-us{
        margin-left: 25px;
        margin-right: 25px;
    }
}