.card
{   margin-top: 100px;
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
}

.quote
{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 50px;
}

.writer
{
    font-family: Montserrat;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
    color: #636363;
}

.writer-1
{
    font-family: Montserrat;
    font-size: 15px;
    text-align: center;
    color: #636363;
}

.btn{
    text-align: center;
    padding-top: 25px;
    font-family: Montserrat;
}

.btn-1{
    border-radius: 8px;
    background-color: #E0E0E0;
    cursor: pointer;
    font-family: Montserrat;
    padding-top: 15px;
    color: #121212;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: solid;
    border-color: #E0E0E0;
}

.btn-1:hover{
    background-color: #CAEDEF;
    border-color: #CAEDEF;
}

.image
{
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1230px)
{
    .card{
        margin-left: 50px;
        margin-right: 50px;
    }

    .quote{
        padding-left:35px;
        padding-right:35px;
    }
}

@media screen and (max-width: 680px)
{
    .card{
        margin-left: 15px;
        margin-right: 15px;
    }

    .quote{
        padding-left:15px;
        padding-right:15px;
    }
}

@media screen and (max-width: 600px)
{

    .btn-1
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .quote{
        padding-top: 10px;
        font-size: 15px;
    }

    .writer, .writer-1{
        font-size: 10px;
    }

    .image-1{
        width: 125px;
        height: 125px;
    }

    .btn
    {
        padding-bottom: 10px;
    }

    .btn-1{
        font-size: 10px;
    }
}

@media screen and (min-width: 2000px)
{
    .card{
        margin-left: 700px;
        margin-right: 700px;
    }
}