.footer
{
    text-align: center;
    padding-top: 100px;
    font-family: Montserrat;
    font-size: 17px;
    margin-left: 25px;
    margin-right: 25px;
}

.footer-1
{
    text-decoration: none;
    color: #121212;
    font-size: 20px;
}
