.ourfounders
{
    
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
    padding-top: 80px;
}

.founder{
    display: flex;
    align-items: start;
    justify-content: start;
}

.founder-pic
{
    width:100px;
    height:100px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.founder-title
{
    text-align: center;
    padding-bottom: 50px;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    color: #000F5F;
    padding-top: 25px;
    font-weight: 600;
    margin-top: 100px;

}

.founder-content{
    font-family: Montserrat;
    font-size: 14px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 400;
}

.founder-name
{
    color: #09003D;
    font-family: Montserrat;
    font-size: 14px;
    padding-left: 50px;
    padding-top: 10px;
}

.founder-job
{
    color: #606060;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 200;
    padding-left: 50px;
    padding-top: 5px;

}

.founder-bio
{
    padding-bottom: 75px;
}

@media screen and (max-width: 1330px)
{
    .ourfounders{
        margin-left: 200px;
        margin-right: 200px;
    }

    .founder-content
    {
        padding-right: 50px;
    }
}

@media screen and (max-width: 1000px)
{
    .ourfounders{
        margin-left: 100px;
        margin-right: 100px;
    }

    .founder-content
    {
        padding-right: 50px;
    }
}

@media screen and (max-width: 620px)
{
    .ourfounders{
        margin-left: 25px;
        margin-right: 25px;
        padding-left: 5px;
    }

    .founder
    {
        flex-direction: column;
        align-items: center;
    }

    .founder-content{
        padding-top: 35px;
    }

    .founder-content, .founder-job, .founder-name
    {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}