.navbar
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 175px;
    padding-top: 10px;
}

.nav-offerings , .nav-about
{
    cursor: pointer;
}

.nav-offerings:hover 
{
    color: #9C0000 ;
}

.nav-about:hover 
{
    color: #9C0000 ;
}

@media screen and (max-width: 450px)
{
    .navbar
    {
        gap: 100px;
    }
}